$color_principal: #f1c40f;
$color_secundario: #980f0f;
$color_sombra: rgba(197, 197, 197, 0.849);
$fuentes: "Roboto Condensed", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";

/* MIXINS */

@mixin titulo-y-texto($tamaniotititulo, $tamaniotexto){
    display: flex;
    align-items: center;
    // justify-content: center;
    flex-direction: column;
    margin: 50px;
    h1{
      font-size: $tamaniotititulo;
      align-self: center;
      text-shadow: 2px 2px $color_sombra;
    }
    p{
      font-size: $tamaniotexto;
    }
}

@mixin flex($direction, $justify){
  display: flex;
  justify-content: $justify;
  flex-direction: $direction;
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: $fuentes;
  }

/* ESTILOS PARA EL HEADER Y FOOTER DE TODAS LAS PAGINAS */
  header {
    background-color: $color_principal;
    width: 100%;
    .link-nav-hover{
      &:hover {
        box-shadow: 2px 2px 4px 2px rgba(0, 0, 0, 0.582);
        border-radius: 5px;
        transition: .4s ease-out;
      }
    }
  }
  
  .logo-hambrosio {
    width: 70px;
  }
  .titulo-principal {
    margin-top: 1em;
    text-align: center;
    font-size: 3em;
    text-shadow: 2px 2px rgba(197, 197, 197, 0.849);
  }
  .footer {
    background-color: $color_principal;
    text-align: center;
    font-size: 1rem;
    font-family: $fuentes;
  }
  .contenedor {
    display: flex;
    flex-wrap: wrap;
  }
  .collapse {
    navbar-collapse {
      ul {
        li {
          a {
            &:hover {
              color: #ff0000;
            }
          }
        }
      }
    }
  }
    
  