/* ESTILOS PARA PAGINA DE RESERVAS */


.contenedor-tarjetas {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	justify-items: center;
	margin: 3.5em auto;
	width: 80%;
	img {
		width: 100%;
	}
	.tarjeta {
		width: 300px;
		padding: 20px;
		display: flex;
		flex-direction: column;
		background-color: $color_principal;
		border-radius: 10px;
		box-shadow: 0 10px 15px -10px rgba(0, 0, 0, 0.45);
		transition: all .2s ease-in-out;
		&:hover {
			transform: scale(1.2);
		}
		.separador {
			size: 2px;
			color: blue;
		}
	}
}
.main-reservas{
	margin: 150px 0;
}
.texto-reservas{
	@include titulo-y-texto(50px,20px)
}

/* Efecto para boton de reserva - Pagina Reservas */

.tarjeta {
	h2 {
		align-self: center;
		margin: 20px 0px 0px 0px; 
		// margin: 20px 0px;
	}
	p {
		align-self: center;
		padding: 10px;
	}
	hr {
		border-top: 2px solid black;
	}
	.boton-reservar {
		padding: 20px;
		background-color: #000;
		color: white;
		box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
		position: relative;
		overflow: hidden;
		cursor: pointer;
		span {
			font-family: $fuentes;
			font-size: 15px;
			font-weight: bold;
			position: relative;
			z-index: 2;
		}
		&::after {
			background-color: #ff0000;
			content: "";
			z-index: 1;
			width: 100%;
			height: 100%;
			position: absolute;
			top: -70px;
			left: 0px;
			transition: 0.3s ease-in-out all;
		}
		&:hover {
			&::after {
				top: 0;
			}
		}
	}
}
